<!DOCTYPE HTML>
<html>
<head>

<link href="/css/bootstrap.css rel="stylesheet">

<h4>Enter a Number after FizzBuzz and then a format(plain, html or json), ex: /45/json</h4>

</head>

<body>

<form role="form">
	<div class="form-group">
		<label for="inputNumber">Number</label>
			<input type="number" class="form-control" id="inputNumber" placeholder="Enter A Number">	
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="formatOpt" value="plain">
			plain text
		</label>
		<label>
			<input type="radio" name="formatOpt" value="json">
			json
		</label>
		<label>
			<input type="radio" name="formatOpt" value="html">
			html
		</label>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

</body>

</html>
